@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-input-field::selection {
  background-color: transparent;
}

/* Tootip bacground color */
.p-tooltip-text	{
  background-color: #333333 !important;
  padding: 5px 10px;
}

/* Tieredmenu */
.p-tieredmenu {
  width: 120px;
  font-size: 14px;
  box-shadow: 0px 1px 5px #33333352;
}

.p-submenu-list {
  font-size: 13px;
  box-shadow: 0px 1px 5px #33333352;
  border-radius: 3px;
  padding: 2px 1px;
}

.p-menuitem {
  padding: 1px 2px;
}

.p-menuitem-link {
  background-color: #FFF;
}

.p-menuitem-link:hover {
  background-color: #f8fafc;
}

.p-menuitem-icon,
.p-submenu-icon	{
  padding: 0;
  font-size: 12px;
}


@layer components {
  .icons-div {
    @apply flex flex-col items-center;
  }

  .icon {
    @apply text-lg text-dark-background p-3 rounded hover:cursor-pointer;
    /* @apply text-lg text-dark-background p-3 rounded hover:cursor-pointer hover:bg-hover-color; */
  }

  .active {
    @apply text-secondary-color;
  }

  .category-input-field-button {
    @apply border text-xs rounded px-1 bg-slate-100 text-slate-600;
  }
}
