@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-input-field::selection {
  background-color: transparent;
}

/* Tootip bacground color */
.p-tooltip-text	{
  background-color: #333333 !important;
  padding: 5px 10px;
}

/* Tieredmenu */
.p-tieredmenu {
  width: 120px;
  font-size: 14px;
  box-shadow: 0px 1px 5px #33333352;
  padding: 2px 1px;
}

.p-submenu-list {
  font-size: 13px;
  box-shadow: 0px 1px 5px #33333352;
  border-radius: 3px;
  padding: 2px 1px;
}

.p-menuitem {
  padding: 1px 2px;
}

.p-menuitem-link {
  background-color: #FFF;
  padding: 8px 10px;
}

.p-menuitem-link:hover {
  background-color: #0061f2;
  border-radius: 5px;
}

.p-menuitem-icon,
.p-submenu-icon	{
  padding: 0;
  font-size: 12px;
}

.p-menuitem-link:hover .p-menuitem-text,
.p-menuitem-link:hover .p-menuitem-icon, 
.p-menuitem-link:hover .p-submenu-icon {
  color: #f4f4f4;
}


@layer components {

  .menu-icon {
    @apply p-2 text-sm text-slate-600 cursor-pointer rounded-lg hover:bg-hover-color;
  }

  .custom-scrollbar {
    /* @apply scrollbar scrollbar-thumb-background-color scrollbar-track-transparent; */
    @apply scrollbar scrollbar-thumb-input-field-background scrollbar-track-transparent;
  }

  .subscriptions-item-label {
    @apply text-xs font-semibold text-secondary-color
  }

  .subscriptions-item-value {
    @apply text-sm font-semibold text-slate-600;
  }
}
